<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art</title>
        <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
</head>
<body>
     <section class="md:col-span-2 md:mx-12 my-4 md:my-12 p-6 md:px-8 bg-gray-100 md:shadow-lg">
          <img src={{img}} alt="" class=" py-2">
          <h1 class="text-3xl border-b-2 border-indigo-300 w-3/4 md:w-1/2 my-4">Childhood Memory</h1>
          <em class="text-xs mr-4">Written by Jennifer Wong</em>
          <small class="text-xs text-gray-700">January 09 2024</small>
          <p class="text-base mt-2">I created this piece of art as a memoir of my past life, when I was a kid.</p>
          <blockquote class="my-6 mx-4 p-4 text-2xl border-l-4 border-indigo-300">I've always been drawing since I was little and loved to do paintings.</blockquote>
          <p class="text-base mb-4">I like art.</p>
          <a class="flex items-center text-indigo-700 hover:text-indigo-500 hover:underline focus:underline transition duration-300" href="#">Read More
            <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="24px" height="20px">
              <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </section>
</body>
</html>